<section
  class="ae-container-fluid rk-main animated fadeIn">
  <div class="create-page">
    <div class="form">
      <form
        class="create-form">
        <input
          type="text"
          placeholder="Nombre del producto" />
        <input
          type="password"
          placeholder="Descripción corta"/>
          <textarea
          placeholder="Descripción larga"></textarea>
        <button
          type="button">Crear Producto</button>
      </form>
    </div>
  </div>
</section>