<header
  class="ae-container-fluid ae-container-fluid--full rk-header">
    <input
      type="checkbox"
      id="mobile-menu"
      class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <a [routerLink]="['home']">Products
          <sup>DEMO</sup>
        </a>
      </h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li
            routerLinkActive="active"
            class="rk-menu__item">
            <a
              [routerLink]="['home']"
              class="rk-menu__link">Galería de Productos</a>
          </li>
          <ng-container *ngIf="isAuth">
            <li
            routerLinkActive="active"
            class="rk-menu__item">
            <a
              [routerLink]="['products']"
              class="rk-menu__link">Editar Productos</a>
            </li>
            <li
              routerLinkActive="active"
              class="rk-menu__item pointer">
              <a
                (click)="logout()"
                class="rk-menu__link">Cerrar Sesión</a>
            </li>
          </ng-container>
          
          <li *ngIf="!isAuth"
            routerLinkActive="active"
            class="rk-menu__item">
            <a
              [routerLink]="['login']"
              class="rk-menu__link">Iniciar Sesión</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
