<section
  class="ae-container-fluid rk-main">
  <div class="title">
    Desde aquí puedes crear, editar y eliminar productos
  </div>
   
    <div class="container">
      <div class="wrap">
        <div
          class="card animated fadeIn"
          *ngFor="let product of products; let index= index">
          <div
            class="thumb"
            [ngStyle]="{backgroundImage:'url(' + product.image + ')'}"></div>
          <div class="option"></div>
          <h3>{{product.name}}</h3>
          <p class="price">Precio: {{product.price}}$</p>
          <p class="desc">{{product.description}}</p>
          <div
            class="edit"
            (click)="editProduct(product.id)">Editar</div>
          <div
            class="delete"
            (click)="deleteProduct(product.id, index)">
            <span *ngIf="!product.attempt; else loading">Eliminar</span>
          </div>
        </div>
    </div>
    </div>
</section>

<ng-template #loading>
  Eliminando...
</ng-template>

<button
  (click)="goToCreateProduct()"
  class="float-button">
  <img src="assets/img/add.svg" width="25">
</button>