<section
  class="ae-container-fluid rk-main animated fadeIn">
  <div class="create-page">
    <div class="form">
      <form
        novalidate
        autocomplete="off"
        [formGroup]="productForm"
        (ngSubmit)="submitForm()"
        class="create-form">
        <input
          formControlName="name"
          type="text"
          placeholder="Nombre del producto" />
        <input
          formControlName="description"
          type="text"
          placeholder="Descripción corta"/>
        <textarea
          formControlName="longDescription"
          placeholder="Descripción larga"></textarea>
        <button
          (click)="submitForm()"
          type="button">
          <span *ngIf="!attempt; else loading">Crear Producto</span>
        </button>
      </form>
    </div>
  </div>
</section>

<ng-template #loading>Creando...</ng-template>