/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

svg path,
svg rect{
  fill: black;
}

.text-center {
  text-align: center;
}

.py-20 {
  padding: 20px 0;
}

.mb-20 {
    margin-bottom: 20px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #202020;
  width: 180px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.float-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  width: 60px !important;
  height: 60px;
  font-size: 24px;
  font-weight: 800;
  padding: 0;
  z-index: 9;
}

.float-button img {
    margin-top: 5px !important;
}

/* ngx sweet alert */
.swal2-popup {
  width: 26em !important;
}

.swal2-title {
  color: #202020 !important;
  font-size: 22px !important;
}

.swal2-styled {
  background-color: #202020 !important;
}

.swal2-styled {
  padding: 10px 15px !important;
  width: 120px !important;
}


/* Splash Screen styles */
.loading-container {
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 99999;
    margin-top: 0 !important;
}

.loading-container .logo-init {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.logo-init {
    width: 150px;
    height: 150px;
}

.loading-container .spinner {
    animation: rotate 2s linear infinite;
    height: 250px;
    width: 250px;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loading-container .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke: #202020;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}