<section class="ae-container-fluid rk-main">
  <h4 class="text-center">Galería de Productos</h4>
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a *ngFor="let product of products"
        [routerLink]="['/product/', product.id]"
        class="rk-item ae-masonry__item animated fadeIn">
          <img [src]="product.image">
          <div class="item-meta">
            <h2>{{product.name}}</h2>
            <p>{{product.price}}$</p>
          </div>
        </a>
    </div>
  </section>
</section>
