<footer
  class="ae-container-fluid rk-footer ">
    <div
      class="ae-grid ae-grid--collapse">
      <div
        class="ae-grid__item item-lg-12 au-xs-ta-center">
        <a
          target="_blank"
          href="https://twitter.com/GeriCyber"
          class="rk-social-btn">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
          </svg></a>
        </div>
      <div
        class="ae-grid__item item-lg-12 au-xs-ta-center au-lg-ta-right">
        <p
          class="rk-footer__text rk-footer__by au-sm-ta-center">Adapted
          by
          <a
          target="_blank"
          href="https://gericyber.github.io/">gericyber</a></p>
      </div>
    </div>
  </footer>
